@inject SentrySMP.App.Authentication.UserService UserService

@inject NavigationManager Navigation
@inject SentrySMP.App.Services.StatusService StatusService
@using SentrySMP.App.Components.Pages
@implements IDisposable
@rendermode InteractiveServer

@if (!string.IsNullOrEmpty(CurrentDisplay))
{
    <div class="login-info">
        <img src="@((!string.IsNullOrEmpty(CurrentDisplay) && CurrentDisplay.StartsWith(".")) ? "https://minotar.net/helm/MHF_Steve/100" : ((!string.IsNullOrEmpty(SkinUrl) && string.Equals(Edition, "java", StringComparison.OrdinalIgnoreCase)) ? SkinUrl : "https://minotar.net/helm/MHF_Steve/100"))" class="skin-img" alt="skin" />
        <div>
            <div><strong>@CurrentDisplay</strong></div>
        </div>
    </div>
    <div>
        <button class="secondary" onclick="Cart()"><i class="bi bi-cart"></i> Cart</button>
        <button class="btn btn-sm btn-outline-secondary" @onclick="Logout">Log out</button>
    </div>
}
else
{
    <div class="login-info">
            <img src="https://minotar.net/helm/MHF_Steve/100" class="skin-img" alt="skin" />
        <div>
            <div><strong>Guest</strong></div>
        </div>
    </div>
    <div>
        <button class="btn btn-sm btn-outline-secondary" onclick="LogIn()">Log in</button>
    </div>
    <script>
        function LogIn() {
            window.location.href = "/login";
        }
        function Cart() {
            window.location.href = "/cart";
        }
    </script>
}

@code {
    private string? CurrentDisplay;
    private string? SkinUrl;
    private string? Edition;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var info = await UserService.GetUserInfoAsync();
            if (info.LoggedIn)
            {
                CurrentDisplay = info.Username;
                Edition = info.Edition;
                SkinUrl = info.Skin;
                StateHasChanged();
            }
            UserService.OnChange += OnUserChanged;
        }
    }

    private async void OnUserChanged()
    {
        var info = await UserService.GetUserInfoAsync();
        if (!info.LoggedIn)
        {
            CurrentDisplay = null;
            SkinUrl = null;
            Edition = null;
        }
        else
        {
            CurrentDisplay = info.Username;
            Edition = info.Edition;
            SkinUrl = info.Skin;
        }
        StateHasChanged();
    }

    private async Task Logout()
    {
        await UserService.SetUsernameAsync(null);
        await UserService.SetEditionAsync(null);
        Navigation.NavigateTo("/");
    }

    public void Dispose()
    {
        UserService.OnChange -= OnUserChanged;
    }
}
