<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SentrySMP Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="servers">
                <span class="bi bi-server" aria-hidden="true"></span> Servers Management
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="keys">
                <span class="bi bi-key-fill" aria-hidden="true"></span> Keys Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="bi bi-wallet2" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ranks">
                <span class="bi bi-award-fill" aria-hidden="true"></span> Ranks Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bundles">
                <span class="bi bi-gift-fill" aria-hidden="true"></span> Bundles Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coins">
                <span class="bi bi-box-fill" aria-hidden="true"></span> Coins Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="battlepasses">
                <span class="bi bi-ticket-fill" aria-hidden="true"></span> Battlep. Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="team-admin">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Team Admin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="images">
                <span class="bi bi-image" aria-hidden="true"></span> Images
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payment-settings">
                <span class="bi bi-credit-card-2-front" aria-hidden="true"></span> Payment Settings
            </NavLink>
        </div>
    </nav>
</div>

