/.idea
bin
.vscode
obj
*.user
*/.env
*/logs/*
.build/*
SentrySMP.App/appsettings.json
SentrySMP.Admin/appsettings.json
SentrySMP.Admin/appsettings.Development.json
SentrySMP.App/appsettings.Development.json
build/build-ftp-admin.json
build/build-ftp.json
build/build-ftp-laravel.json
build/C:/*
build/tools/*
build/build-ftp-images.cake
build/build-ftp-images.json
build/C_/*
SentrySMP.Images/appsettings.json

# Laravel
/.env
/.env.*
/vendor/
/node_modules/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
.phpunit.result.cache
bootstrap/cache/*.php
