<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="public/index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Static Public Assets" stopProcessing="true">
                    <match url="^(css|js|images|fonts|favicon\.ico|robots\.txt)(.*)?$" />
                    <action type="Rewrite" url="public/{R:0}" />
                </rule>
                <rule name="Laravel Front Controller" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="public/index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
