<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Výjimky: Nepřepisovat tyto konkrétní PHP soubory -->
        <rule name="NoRewriteAddAnnouncement" stopProcessing="true">
          <match url="^add_announcement\.php$" />
          <action type="None" />
        </rule>
        <rule name="NoRewriteDeleteAnnouncement" stopProcessing="true">
          <match url="^delete_announcement\.php$" />
          <action type="None" />
        </rule>
        <rule name="NoRewriteloginPlayer" stopProcessing="true">
          <match url="^login-player\.php$" />
          <action type="None" />
        </rule>
        <rule name="NoRewriteCreateSession" stopProcessing="true">
          <match url="^create-checkout-session\.php$" />
          <action type="None" />
        </rule>


        <!-- Kořenová URL na index.php -->
        <rule name="AddHTML" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/index.php" />
        </rule>

        <!-- Přepis /něco na /něco.html pokud existuje -->
        <rule name="RewriteToHTML" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <!-- Přepis /něco na /něco.php pokud .html neexistuje a .php existuje -->
        <rule name="RewriteToPHP" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.php" />
        </rule>

        <!-- Přesměrování /něco.html na /něco -->
        <rule name="RemoveHTMLExtension" stopProcessing="true">
          <match url="^(.*)\.html$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Přesměrování /něco.php na /něco -->
        <rule name="RemovePHPExtension" stopProcessing="true">
          <match url="^(.*)\.php$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <!-- Vlastní 404 stránka -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- Default dokument index.php -->
    <defaultDocument>
      <files>
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
