@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-between w-100">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="mb-2 mb-sm-0">About</a>
                <div class="ms-sm-auto">
                    <!-- Username removed from MainLayout; shown on Login page only -->
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>