<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="logonav">
            <img src="images/logo.png" class="logoimage" width="150px" alt="" />
        </a>
        <button class="toggle-btn" id="toggleBtn" style="text-align: center; margin-top: auto">&#9776;</button>
        <ul class="nav-links" id="navLinks">
            <li><a href="/"><i class="bi bi-house"></i> Home</a></li>
            <li><a href="about"><i class="bi bi-info-circle"></i> About Server</a></li>
            <li><a href="our-team"><i class="bi bi-people"></i> Our Team</a></li>
            <li><a href="vote-for-us"><i class="bi bi-heart"></i> Vote For Us</a></li>
            <label class="switch">
                <input type="checkbox" id="modeToggle" />
                <span class="slider"></span>
            </label>
        </ul>
    </div>
</nav>