<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SentrySMP.App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="keys">
                <span class="bi bi-key-fill" aria-hidden="true"></span> Keys
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shards">
                <span class="bi bi-box-fill" aria-hidden="true"></span> Shards
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link position-relative" href="cart">
                <span class="bi bi-cart" aria-hidden="true"></span> Cart
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:0.8em;" 
                      hidden="@((CartState?.CartItems.Count ?? 0) == 0)">
                    @(CartState?.CartItems.Count ?? 0)
                </span>
            </NavLink>
        </div>
    </nav>
@inject SentrySMP.App.Components.State.CartState CartState
</div>