@page "/about"

<PageTitle>About Server - SentrySMP</PageTitle>

<div class="main-wrapper">
    <h1 class="main">About Server</h1>
</div>
<h2>Welcome to SentrySMP</h2>
<img
    src="images/sentrygif.gif"
    style="border-radius: 10px; width: 20rem"
    alt="SentrySMP gif intro"
/>
<p>
    SentrySMP is a survival multiplayer server with an economy and
    crossplay support. Whether you enjoy building, exploring, or
    competing, there is something for everyone.
</p>

<p>
    <b>Survival with Economy</b>: Earn and spend money through jobs,
    trades, and auctions Crossplay Support: Play seamlessly on both
    <b>Java and Bedrock editions</b>
</p>
<p>
    <b>Jobs and Skills</b>: Choose professions, level up, and unlock
    rewards
</p>
<p>
    <b>Kits and Crates</b>: Access starter kits and free-to-play
    crates with amazing rewards
</p>
<p>
    <b>Auction House</b>: Buy, sell, and bid on rare items in a
    player-driven market
</p>
<p>
    <b>AFK Zone</b>: Stay active and earn rewards while taking a
    break
</p>
<p>
    <b>Bounties</b>: Set or claim bounties for extra challenges and
    competition Join SentrySMP today and create your story in a
    growing and competitive community.
</p>