@page "/join"
<PageTitle>How Can I Join? - SentrySMP</PageTitle>
<style>
    .smallimagesdiv img {
        width: 348px;
    }
</style>
<div class="main-wrapper">
    <h1 class="main">How Can I Join?</h1>
</div>
<div class="smallimagesdiv">
    <h2>Java</h2>
            <p>
                Server IP: <b>mc.sentrysmp.eu</b><br />
                Version: <b>1.21.4+</b>
            </p>
            <h3>1. Go to Multiplayer section</h3>
            <img src="images/title-screen.png" alt="title screen" />
            <h3>2. Add a server</h3>
            <img src="images/multiplayer.png" alt="multiplayer screen" />
            <h3>3. Enter the details</h3>
            <img src="images/ip.png" alt="IP in Minecraft Java" />
            <h3>4. Join the server</h3>
            <img src="images/join.png" alt="Join the server" />
            <h3>5. Register/login</h3>
            <img src="images/login.png" alt="Login/register" />
            <h3>6. Enjoy playing!</h3>
            <img src="images/play.png" alt="Enjoy!" />
            <p>
                We <b>recommend</b> playing on <b>vanilla Minecraft</b>. Please
                <b>do not use cheats</b>—we have a strong anti-cheat system and
                a fast admin team to detect hacks.
            </p>
            <h2>Bedrock</h2>
            <p>
                Server IP: <b>pe.sentrysmp.eu</b><br />
                Version: <b>newest</b> <br />
                Port: <b>25566</b>
            </p>
            <h3>1. Go to Play section</h3>
            <img src="images/title-bed.png" alt="Go to Play section" />
            <h3>2. Go to Servers tab</h3>
            <img src="images/play-bed.png" alt="Go to servers tab" />
            <h3>3. Add a new server</h3>
            <img src="images/servers-bed.png" alt="Add a new server" />
            <h3>4. Enter the details, add, and join</h3>
            <img
                src="images/details-bed.png"
                alt="Enter the details, add and join"
            />
            <h3>5. Proceed with playing</h3>
            <img src="images/procced-bed.png" alt="Proceed with playing" />
            <h3>6. Accept our resource packs</h3>
            <img src="images/resource-bed.png" alt="Accept our resources" />
            <h3>7. Register/login</h3>
            <img src="images/login-bed.png" alt="Login/register" />
            <h3>8. Enjoy playing!</h3>
            <img src="images/enjoy-bed.png" alt="Enjoy!" />
            <p>
                Please <b>do not use cheats</b>—we have a strong anti-cheat
                system and a fast admin team to detect hacks.
            </p>
</div>