@page "/support"

<PageTitle>Support - SentrySMP</PageTitle>

<div class="main-wrapper">
    <h1 class="main">Support</h1>
</div>
<h2>Discord Support</h2>
<p>
    The <b>best way</b> to reach our team is through <b>Discord</b>,
    where our dedicated staff members are ready to assist you with
    any questions, issues, or concerns you might have. Your support
    is only heard via <b>#ticket-create</b> channel.
    <a href="https://discord.gg/NptZrc5y6Q" target="_blank"
    >Join our community</a
    >
    and get the help you need!
</p>
<button
    onclick="window.open('https://discord.com/channels/1159130895190605854/1262894355396427796/1262910466263482368', '_blank')"
>
    <i class="bi bi-envelope-arrow-down"></i> Create ticket
</button>
<p><i>*only for members</i></p>
<h2>Email Support</h2>
<p>
    If you <b>prefer to communicate via email</b>, you can reach us
    at
    <a href="mailto:support@sentrysmp.eu">support@sentrysmp.eu</a>.
    Please include a detailed description of your issue and any
    relevant information that could help us assist you more
    effectively.
</p>