@page "/terms-of-use"

<PageTitle>Terms of Use - SentrySMP</PageTitle>

<div class="main-wrapper">
    <h1 class="main">Terms of Use</h1>
</div>
<p>
    These Terms of Use govern your use of the services provided on
    the <b>SentrySMP website and the Minecraft server</b>.
    <b>By accessing or using the website and server, you agree to be bound by these terms</b>.
</p>

<h2>1. General Use</h2>

<ul>
    <li>
        Our services, including any
        <b>Ranks, items, bundles, and battle pass</b>, are provided as part of a
        <b>voluntary contribution</b> to support the server.
    </li>
    <li>
        All items purchased or gained through the website or server
        are for <b>in-game use only</b> and do not constitute
        real-world transactions.
    </li>
</ul>

<h2>2. Purchasing Virtual Items</h2>

<ul>
    <li>
        Prices listed for in-game items such as keys, ranks, and
        spawn items (e.g., Heaven Crate and Summer Crate keys) are
        <b>non-refundable</b> unless otherwise stated.
    </li>
    <li>
        By purchasing any items or VIP status, you are making a
        <b>voluntary contribution</b> to support the server and
        understand that these items are
        <b>in-game assets only</b> and cannot be exchanged for
        real-world currency.
    </li>
</ul>

<h2>3. Payment and Contributions</h2>

<ul>
    <li>
        Payments for items, including shards, ranks, keys, battle
        pass, bundles, are processed securely
        through <b>PayPal</b> and <b>Stripe</b> payment processors.
        Both payment options are available for all purchase types.
        You acknowledge that the payment is a <b>donation</b>
        to the server and not a commercial purchase.
    </li>
    <li>
        We may offer occasional special deals or discounts; these
        offers are subject to availability and may change
        <b>without prior notice</b>.
    </li>
    <li>
        By using our payment systems, you consent to sharing
        necessary information with our payment processors (PayPal
        and Stripe) to complete your transaction. More about privacy <a href="privacy-policy">here</a>.
    </li>
</ul>

<h2>4. Discord and Minecraf Server Rules and Conduct</h2>

<ul>
    <li>
        By accessing the Minecraft and Discord server, you
        <b>agree to follow the server rules</b> and not engage in
        activities that may harm or disrupt the server experience
        for others.
    </li>
    <li>
        We reserve the right to <b>ban or suspend</b> users who do
        not adhere to the server rules.
    </li>
    <li>Rules: <a href="discord-server-rules">Discord Server Rules</a> and <a href="minecraft-server-rules">Minecraft
            Server Rules</a>.</li>
</ul>

<h2>5. Ranks and Their Duration</h2>

<ul>
    <li>
        Ranks are granted for <b>one month</b> (30 d) from the date of
        purchase.
    </li>
    <li>
        Rank benefits will be automatically applied to your Minecraft
        account and will expire after one month. This is not a
        subscription - there is no automatic renewal.
    </li>
    <li>
        Ranks are <b>non-transferable</b> between Minecraft
        accounts and <b>non-refundable</b> once activated.
    </li>
    <li>
        In the event of a server reset or major update, we will make
        reasonable efforts to maintain or restore your VIP status
        for the remainder of your purchased period.
    </li>
</ul>

<h2>6. Ranks Permission Management</h2>

<ul>
    <li>
        We use an automated system to manage ranks permissions when
        your ranks period expires.
    </li>
    <li>
        This command removes all ranks-related permissions from your
        account. If you have any other permissions granted through
        other means, they may also be affected.
    </li>
    <li>
        If you notice any issues with your permissions after ranks
        expiration, please contact our support team through the
        <a href="support.html">support page</a>.
    </li>
</ul>

<h2>7. Limitation of Liability</h2>

<ul>
    <li>
        We are <b>not liable</b> for any issues arising from the use
        of the website or server, including but not limited to
        payment issues, in-game item losses, or server downtimes.
    </li>
    <li>
        While we strive to deliver purchased items and ranks
        promptly, we will make reasonable efforts to fulfill all
        purchases.
    </li>
    <li>
        Any personal information shared during the payment process
        is subject to our <a href="privacy-policy">Privacy Policy</a> and the privacy policies of
        our payment processors (PayPal and Stripe).
    </li>
    <li>You agree to use our services <b>at your own risk</b>.</li>
</ul>

<h2>8. Updates to Terms</h2>

<ul>
    <li>
        We reserve the right to <b>update or modify</b> these Terms
        of Use at any time. The updated terms will be posted on this
        page with an effective date
    </li>
</ul>

<p>Effective Date: November 15, 2025</p>