@page "/vote-for-us"

<PageTitle>Vote For Us - SentrySMP</PageTitle>

<div class="main-wrapper">
    <h1 class="main">Vote For Us 🥹</h1>
</div>
<h2>The Best Thing For Us</h2>
<p>
    By voting, you <b>help our community grow and thrive</b>. Your
    support means the world to us and makes this server
    <b>a better place for everyone 😊</b>. Together we can build
    something amazing! 🥹
</p>
<p>
    minecraftservers.org -
    <a href="https://minecraftservers.org/vote/670535">here</a>
</p>
<p>
    craftlist.org -
    <a href="https://craftlist.org/sentrysmp-fqjod">here</a>
</p>