<footer>
    <div class="footer-section">
        <div class="footer-column">
            <h3>Support</h3>
            <ul>
                <li><a href="support">Support</a></li>
                <li><a href="https://discord.gg/gXrXMwpuH4" target="_blank">Report Issue</a></li>
                <li><a href="vote-for-us">Vote For Us</a></li>
                <li><a href="join">How to Join</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>About Us</h3>
            <ul>
                <li><a href="about">About server</a></li>
                <li><a href="our-team">Our Team</a></li>
                <li><a href="news">News</a></li>
                <li><a href="changelog">Web Changelog</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Rules</h3>
            <ul>
                <li><a href="discord-server-rules">Discord Server Rules</a></li>
                <li><a href="minecraft-server-rules">Minecraft Server Rules</a></li>
                <li><a href="staff-rules">Staff Rules</a></li>
                <li><a href="privacy-policy">Privacy Policy</a></li>
                <li><a href="terms-of-use">Terms of Use</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">

        <p class="footer-p">© 2025 Sentry SMP. All rights reserved.</p>
        <p class="mojang-notice">We are not affiliated with or endorsed by Mojang, AB. <b>Merry Christmas!</b></p>
    </div>
    <p class="web-version">3.1.2</p>
</footer>